.carousel-item {
    height: 100% !important;
}


iframe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #063c17 !important;
    border-color: #043815 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #053113 !important;
    border-color: #032910 !important;
}

footer {
    background-color: #063c17;
    padding-top: 2rem;
}

.padding {
    padding-bottom: 2rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background: #dcdcdc;
}


.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}

.contact-color {
    background-color: rgb(211, 211, 211);
}

.padding {
    padding-left: 0 10px;
    padding-top: 0 10px;
    padding-bottom: 0 10px;
    padding-right: 0 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}
.border{
   border-width:5px;
    border-color: #032910;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #094d1e;
}

.about-gwe{
    color:white;
    text-align:center;
}
.mission-gwe{
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    
  }
  .home-about{
    padding:10px !important;  
  }
.about-images{
    padding:10px !important; 
}

.mission{
    text-shadow: #063c17;
}
.before-after{
    padding:20px !important;
}
.paragraph{
    background-color: #198754!important;
    text-indent:20px;
    border-radius:5px;
}
.committed{
    color: white;
    text-align: center;
    font-size:20.5px;
} 
.card-text{
    text-align:center !important;
}
.first-paragraph{
    background-color: #198754!important;
    font-size:18px;
    border-radius:5px;

}
p{
    color: #094d1e;
}
h5{
    color: #094d1e;
}



