.carousel-item {
    height: 500px;
}

iframe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #063c17 !important;
    border-color: #043815 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #053113 !important;
    border-color: #032910 !important;
}

footer {
    background-color: #063c17;
    padding-top: 2rem;
}

.padding {
    padding-bottom: 2rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background: #dcdcdc;
}


.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}

.contact-color {
    background-color: rgb(211, 211, 211);
}

.padding {
    padding-left: 0 10px;
    padding-top: 0 10px;
    padding-bottom: 0 10px;
    padding-right: 0 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}
.border{
   border-width:5px;
    border-color: #032910;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.about-gwe{
    text-indent:20px;
}
.mission-gwe{
    text-align: center;
}
.home-about{
    padding-top:30px !important;
}
